# .travis.yml for ices-tools packages

warnings_are_errors: false

os:
  - linux
  - osx

language: r
r:
  - release
  - devel

sudo: false

repos:
  CRAN: https://cloud.r-project.org

r_packages:
  - rmarkdown

cache: packages

notifications:
  email:
    on_success: change
    on_failure: change

r_github_packages:
  - jimhester/covr
  - ices-tools-prod/icesVocab

after_success:
  - Rscript -e 'library(covr);codecov()'

